

<div class="head">
<input class="input" type="text" placeholder="Search here..." name="input" #input value="" (keyup)="search(input)">

<input class="click"  type="button" (click)='search(input)' value="search">
</div>
  <div class="card">
    <div class="card-header bg-secondary text-white" id="header">
User name:{{result$.login}}
</div>

<img src="{{result$.avatar_url}}" class="img-circle img-responsive" alt="{{result$.login}}">
<div class="card-footer bg-dark text-white" id="header">
  Github ID:{{result$.id}}
</div>
</div>
<br>
