
<!-- <a routerLink='/landing' routerLinkActive='active'>Home</a>
<a routerLink='/search' routerLinkActive='active'>Search</a>
<router-outlet></router-outlet>
 -->





<div class="head">
  <input class="input" type="text" placeholder="Search here..." name="input" #input value="">

  <input class="click"  type="button" (click)='search(input)' value="search">
</div>



<div class="panel panel-default">
  <div class="panel-heading">
{{user$.name}} <small>({{user$.login}})</small>
<span class="label label-default">{{user$.public_repos}} Public Repos.</span>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{user$.avatar_url}}" class="img-circle img-responsive" alt="{{user$.login}}">

    </div>
      <div class="col-sm-5">
        {{result$[0].login}}
        {{repo$[1].name}}
      <img src="{{result$[0].avatar_url}}" class="img-circle img-responsive" alt="{{result$.login}}">
      </div>
  </div>
</div>
</div>
