
<div class="head">
<input class="input" type="text" placeholder="Search here..." name="input" #input value="">

<input class="click"  type="button" (click)='search(input)' value="search">
</div>




  <h1>{{user$.name}}<small>({{user$.login}})</small></h1>

<img src="{{user$.avatar_url}}" class="img-circle img-responsive" alt="{{user$.login}}">

<h1 style="text-align:center;">PUBLIC REPOSITORIES<small class="label label-default"><em>({{user$.public_repos}} Public Repos.)</em></small></h1>
<div class="repos" *ngFor= "let repo of repo$, let i = index">
  <div class="card">
    <div class="card-header">
      {{repo$[i].name}}
    </div>
    <button class="btn btn-primary"><a href='https://github.com/jeffmusa/{{repo$[i].name}}'>VIEW REPO</a></button>
  </div>

  <br>
</div>



      {{result$[0].login}}
      {{repo$[1].name}}
    <img src="{{result$[0].avatar_url}}" class="img-circle img-responsive" alt="{{result$.login}}">
